@import "./_variables";

footer {
  text-align: center;
  padding-bottom: 1%;
  background-color: $green;
  color: $yellow;

  p {
    font-size: 14px;

    &::selection {
      background: $yellow;
      color: $green;
    }
  }
}
