@import "./_variables";

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background-color: $cream-white;
}

header {
  padding: 2rem 0;
  border-bottom: 1px solid $red;

  @media screen and (max-width: 768px) {
    padding: 1.5rem 0;
  }
}

.worksWrapper {
  padding: 5rem 0;

  @media screen and (max-width: 768px) {
    padding: 3rem 0;
  }
}

.contactWrapper {
  background-color: $red;
  padding: 40px 0;
}
