@media (min-width: 1200px) {
}
@media (max-width: 1200px) {
  .column {
    float: left;
    width: 100%;
  }
  .backTopLeft, .backBottomRight{
    height: 60vh;
  }
  .backTopRight, .backBottomLeft {
    height: 45vh;
  }
  .profileImg {
    width: 40%;
  }
  .contain {
    top: 25%;
    width: 85%;
  }
  ul {
    margin-top: 80px;
  }
  h3 {
    margin-top: 40px;
  }
}
@media (max-width: 375px) {
  .profileImg {
    width: 75%;
  }
  .backTopLeft, .backBottomRight{
    height: 45vh;
  }
  .backTopRight {
    height: 65vh;
  }
  .backBottomLeft {
    height: 25vh;
  }
  h3 {
    margin-top: 20px;
    font-size: 16px;
  }
  .contain {
    top: 15%;
    width: 85%;
    font-size: 12px;
  }
  ul {
    margin-top: 35px;
  }
  li {
    margin-bottom: 20px;
  }
  a {
    font-size: 12px;
  }
  .icons {
    width: 25px;
    margin-right: 10px;
  }
}